@font-face {
  font-family: Montserrat-Regular;
  src: url('/assets/fonts/Montserrat/Montserrat-Bold.ttf');
}
@font-face {
  font-family: Montserrat-Regular;
  src: url('/assets/fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
  font-family: Montserrat-Regular;
  src: url('/assets/fonts/Montserrat/Montserrat-Medium.ttf');
}
@font-face {
  font-family: Montserrat-Regular;
  src: url('/assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}