.sidebar {
  height: 100%;
  width: 100%;

  .feature-list {
    margin: 0px 0px 20px 40px;
    .feature {
      color: #c6d0dc;
      font-size: 14px;
      list-style: none;
      .active {
        color: #73bbd4;
        font-weight: bold;
      }
      .link {
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}
