$visualContainerWidth: 450px;
.cubicle-view {
  background-color: #0f1319;
  border-radius: 8px;
  box-sizing: border-box;
  height: 100%;
  padding: 25px;
  position: relative;

  .details-ctr {
    box-sizing: border-box;
    float: left;
    height: 100%;
    padding-right: 30px;
    width: calc(100% - #{$visualContainerWidth});

    .stats-ctr {
      margin-bottom: 25px;
    }
  }

  .visual-ctr {
    background-color: #12171e;
    border: 1px solid #191f27;
    border-radius: 15px;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    float: left;
    height: 100%;
    overflow: auto;
    width: 450px;
  }

  .stats-ctr {
    display: flex;

    .stat {
      background-color: #151a22;
      border-radius: 1px;
      box-sizing: border-box;
      height: 105px;
      margin-right: 20px;
      padding: 15px 20px;
      width: 188px;

      .stat-icon {
        padding-bottom: 10px;
      }
      .desc {
        color: #53657e;
        font-size: 12px;
        padding-bottom: 5px;
      }
      .value {
        color: #c6d0dc;
        font-size: 25px;
      }
    }
  }

  .cubicle-detail-ctr {
    background-color: #191f27;
    border-radius: 5px;
    max-height: calc(100% - 195px);
    overflow: auto;
    width: 100%;
    .cubicle {
      min-width: 70px;
    }
    .seat {
      min-width: 70px;
      padding-left: 15px;
    }
    .name {
      min-width: 250px;
    }
    .team {
      min-width: 150px;
    }
    .unlink {
      min-width: 50px;
    }
    .even-row {
      background-color: #151a22;
    }
    .odd-row {
      background-color: #191f27;
    }
    .cubicle-detail-hdr {
      box-shadow: 0 2px 0 0 #232d3b;
      color: #ffffff;
      display: flex;
      font-size: 12px;
      padding: 15px;
      position: relative;
    }
    .cubicle-detail-bdy {
      height: calc(100% - 46px);
      .cubicle-detail {
        border-bottom: 1px solid #232d3b;
        display: flex;
        min-height: 60px;
        .cubicle {
          align-items: flex-start;
          color: #c6d0dc;
          display: flex;
          flex-direction: column;
          font-size: 12px;
          justify-content: center;
          padding-left: 15px;
          .cubicle-name {
            padding-left: 5px;
          }
          .view-ctr {
            align-items: center;
            background-color: #2b3543;
            border-radius: 3px;
            cursor: pointer;
            display: flex;
            font-size: 10px;
            margin-top: 10px;
            padding: 5px;
            &.disabled {
              cursor: no-drop;
            }
            .view-icon {
              height: 12px;
              padding-left: 10px;
              width: 12px;
            }
          }
        }
        .seat-details-ctr {
          color: #c6d0dc;
          flex-grow: 1;
          font-size: 12px;
          &.less-seat {
            .seat-detail {
              height: 100%;
            }
          }
          .seat-detail {
            align-items: center;
            display: flex;
            flex-grow: 1;
            height: 40px;
            .name {
              align-items: center;
              box-sizing: border-box;
              display: flex;
              justify-content: space-between;
              padding-right: 15px;
              .action-icon {
                cursor: pointer;
                height: 16px;
                width: 16px;
              }
            }
            .unlink {
              align-items: center;
              display: flex;
              .unlink-icon {
                cursor: pointer;
                height: 16px;
                width: 18px;

                &.disabled {
                  cursor: no-drop;
                  opacity: 0.3;
                }
              }
            }
          }
        }
      }
    }
  }

  .right-panel {
    background-color: #0f1319;
    box-shadow: -3px 0 20px 10px #08080f;
    bottom: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 512px;
    z-index: 10;
  }
}
