$visualContainerWidth: 450px;
.cubicle-view {
  background-color: #0f1319;
  border-radius: 8px;
  box-sizing: border-box;
  height: 100%;
  padding: 25px;

  .details-ctr {
    box-sizing: border-box;
    float: left;
    height: 100%;
    padding-right: 30px;
    width: calc(100% - #{$visualContainerWidth});
  }

  .visual-ctr {
    background-color: #12171e;
    border: 1px solid #191f27;
    border-radius: 15px;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    float: left;
    height: 100%;
    min-width: 450px;
  }

  .cubicle-detail-ctr {
    background-color: #191f27;
    border-radius: 5px;
    .cubicle {
      min-width: 70px;
    }
    .seat {
      min-width: 70px;
      padding-left: 15px;
    }
    .name {
      min-width: 250px;
    }
    .team {
      min-width: 150px;
    }
    .even-row {
      background-color: #151a22;
    }
    .odd-row {
      background-color: #191f27;
    }
    .cubicle-detail-hdr {
      box-shadow: 0 2px 0 0 #232d3b;
      color: #ffffff;
      display: flex;
      font-size: 12px;
      padding: 15px;
      position: relative;
    }
    .cubicle-detail-bdy {
      .cubicle-detail {
        display: flex;

        .cubicle {
          align-items: center;
          color: #C6D0DC;
          display: flex;
          font-size: 12px;
          padding-left: 15px;
        }
        .seat-details-ctr {
          flex-grow: 1;
          .seat-detail {
            align-items: center;
            display: flex;
            height: 40px;
          }
        }
      }
    }
  }
}
